<div class="row">
  <div class="col-xs-12 col-sm-8">
      <h1> Bienvenido a Critter </h1>
      <h3> Esperamos que encuentre su visita agradable</h3>      
  </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4">
      <h2>¿Qué desea hacer?</h2>
      <ul>
        <li> <%= link_to "Listado de Monstruos", monstruos_path %></li>
        <li> <%= link_to "Ver el primer monstruo", ver_monstruos_path %></li>
      </ul> 
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <br><br>
    <h4>Correo: pipito@monstruos.twit.com</h4>
    <a href="https://www.facebook.com"><h4>Faisbok</h4></a>
    <a href="https://www.twitter.com"><h4>Twiter (oh the irony)</h4></a>
    
  </div>
</div>