<!------------------------------------------------------ 
Acá va a ir el listado de monstruos usando los tags  
<ul> y <li>.
Debe tener un título y mostrar el nombre (en negrita) y
la descripción.
------------------------------------------------------>

HACER <br>
/app/views/monstruos/index.html.erb <br> <br>



<% Monstruo.all.each do |monstruo| %>
<dl>
	<dt>
		<h1> <%=link_to monstruo.nombre , show_monstruos_path(monstruo)%></h1>
	</dt>
	<dd>
		<p>
			<%=monstruo.descripcion%>
		</p>

	<%if monstruo.tweets.count > 1 %>
		<p id="destacado">Twittero destacado! </p>
	<%end%>
		
		<%=link_to "Eliminar monstruo",
		monstruo,
		method: :delete,
		data: {confirm: "Seguro pa?"},
		class: 'btn btn-danger'
		%>
		
	</dd>
</dl>
<% end %>