Ver un monstruo <br>
/app/views/monstruos/show.html.erb

<h1><%= @monstruo.nombre %></h1>

<h4><%= @monstruo.descripcion %></h4>

<p>Twits del usuario </p>
<%id=@monstruo.id %>
<% tweets=Tweet.where(monstruo_id:id) %>
<ul>
	<%tweets.each do |tw| %>
		<li><%= tw.estado %></li>
	<% end %>
</ul>
<%if tweets.count == 0 %>
	<p>No se han encontrado twits. Que mal!</p>
<%end%>


<!-- <%monstruo=Monstruo.find(params[:id]) %>  Esto está MAL (se hace desde la vista)

<%= monstruo.nombre %>  super recomendable -->


<div>

	<h1> <%=image_tag("logo.png") %> </h1>
	
	<%=link_to "Volver", monstruos_path%>

</div>