<!------------------------------------------------------ 
Debe mostrarse la información del primer monstruo sin
usar el id.
Se debe mostrar el nombre (como título) y la descripción 
(como párrafo).
------------------------------------------------------>

HACER <br>
/app/views/monstruos/ver.html.erb

<%=  monstruo=Monstruo.first%>
<h1> <%= monstruo.nombre%>: </h1>
<ul>
	<p>Descripción: <%= monstruo.descripcion%> </p>
</ul>


