<!DOCTYPE html>
<html>
<head>
  <title>Lab3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</head>
<body>

<%= render 'layouts/header' %>
<%= javascript_pack_tag 'application' %>
<div class="container"> 
<%= yield %>
</div>

</body>
</html>
